/* 768픽셀보다 작을때 미디어쿼리 반응형디자인 */
@media (max-width: 1300px) {

    /* 그리드 */
    .grid_container {
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }

    .item:nth-child(1) {
        grid-column: 1 / 4;
    }

    .item:nth-child(2) {
        grid-column: 1 / 4;
    }

    .item:nth-child(3) {
        grid-column: 1 / 4;
    }

    .item:nth-child(4) {
        grid-column: 1 / 4;
    }

    .item:nth-child(5) {
        grid-column: 1 / 4;
    }

    .item:nth-child(6) {
        grid-column: 1 / 4;
    }

    .item:nth-child(7) {
        grid-column: 1 / 4;
    }

    .photo_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .item2:nth-child(1) {
        grid-column: 1 / 4;
    }

    .item2:nth-child(2) {
        grid-column: 1 / 4;
    }

    .item2:nth-child(3) {
        grid-column: 1 / 4;
    }

    .item2:nth-child(4) {
        grid-column: 1 / 4;
    }

    /* 그리드 끝 */

    .menu {
        display: inline-block;
        min-height: 30px;
        text-align: right;
        padding-right: 20px;
        padding-top: 3.5px;
    }

    /* 검정색 고정바 */

    .nav_header {
        height: 70px;
        margin-top: 30px;
    }

    /* 네비게이션 바 */

    .logo img {
        
        max-width: 175px;
        width: 0 auto;
        height: 40px;
        margin-right: 100px;
    }

    /* 로고 */
    


    .list {
        display: inline-block;
        float: right;
        text-align: center;
        margin-top: 20px;
        padding-top: 0px;
        

    }

    .list_nav {
        font-size: 10px;
    }

    /* 네비게이션바 리스트 */

    .search {
        text-align: center;
        padding-top: 3px;
    }

    /* 네비게이션 바 옆 돋보기 */



    /* 그리드 컨테이너 전체 */

    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    /* 제목 *공지사항 *랩노트 *사진게시판 */

    .table-responsive {
        border: none;
        padding-left: 25px;
        padding-right: 25px;
    }


    table {
        border-collapse: collapse;
        text-align: center;
        white-space: nowrap;
    }
     

    /* 게시판 */
    .title_length{
        max-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .number {
        width: 10%;
        text-align: center;
    }

    /* 게시판 안에 번호 */

    .title {
        width: 60%;
        text-align: center;
    }

    /* 게시판 안에 제목 */
    .user {
        width: 30%;
        text-align: center;
    }

    /* 게시판안에 작성자 */

    .date {
        display: none;
        text-align: center;
    }

    /* 게시판안에 날짜 */

    .click {
        display: none;
        text-align: center;
    }

    /* 조회수 */

    .A {
        display: none;
    }

    /* 게시판 일부 항목 제거 */


    .photo_container {
        margin-bottom: 100px;
    }

    /* 사진게시판 */

    .item2 {
        margin: 10px;
        padding: 10px;
    }

    .item2 img {
        max-width: 100%;
        height: 100%;
        padding: 30px;
    }

    /* 사진 조정 */

    .panel-footer {
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        
    }
    /* footer */
}



/*767px보다 클때 미디어 쿼리 반응형 디자인 */
@media (min-width: 1300px) {

    /* 메인 그리드 */

    .grid_container {
        display: grid;
        grid-template-columns: 25% 50% 25%;

    }

    .item:nth-child(1) {
        grid-column: 1 / 4;
    }

    .item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .item:nth-child(3) {
        grid-column: 2 / 3;
    }

    .item:nth-child(4) {
        grid-column: 2 / 3;
    }

    .item:nth-child(5) {
        grid-column: 2 / 3;
    }

    .item:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    .item:nth-child(7) {
        grid-column: 1 / 5;
    }

    .photo_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .item2:nth-child(1) {
        grid-column: 1 / 4;
    }

    .item2:nth-child(2) {
        grid-column: 1 / 2;
    }

    .item2:nth-child(3) {
        grid-column: 2 / 3;
    }

    .item2:nth-child(4) {
        grid-column: 3 / 4;
    }

    /* 그리드 끝 */

    .menu {
        display: inline-block;
        min-height: 30px;
        text-align: right;
        padding-right: 20px;
        padding-top: 3.5px;
    }

    /* 검정색바 */
    
    .nav_header {
        height: 70px;
        margin-top: 30px;
        
    }
    .container-fluid {
        padding-top: 17px;
        display: inline-block;
        position: relative;
        left: 220px;
    }



    .logo {
        padding-top: 2px;
    }

    .logo img {
        max-width: 175px;
        width: 0 auto;
        height: 40px;
    }



     .list {
        display: inline-block;
        float: right;
        text-align: center;
        margin-right: 25%;
        margin-top: 20px;
        padding-top: 0px;
        

    }

    .search {
        text-align: center;
        padding-top: 3px;
    }

    /* 네비게이션 바 */

    h2 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding-bottom: 50px;
        padding-top: 30px;

    }

    /* 게시판 제목 */

    table {
        border-collapse: collapse;
        text-align: center;
    }

    .title_length{
        max-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .number {
        width: 15%;
        text-align: center;
    }

    .title {
        width: 50%;
        text-align: center;
    }

    .user {
        width: 15%;
        text-align: center;
    }

    .date {
        width: 10%;
        text-align: center;
    }

    .click {
        width: 10%;
        text-align: center;
    }

    /* 게시판 */

    .photo_container {
        margin-bottom: 100px;
    }

    .item2 {
        margin: 10px;
    }

    .item2 img {
        max-width: 100%;
        height: 100%;
    }

    /* 사진 게시판 */

    .panel-footer {
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        
    }
    /* footer */
}







/* 게시판 디자인 */
/* 768px이하적용 */

/* 그리드 */
@media (max-width: 1300px) {
    .grid_container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .board_item:nth-child(1) {
        grid-column: 1 / 4;
    }

    .board_item:nth-child(2) {
        grid-column: 1 / 4;
    }

    .board_item:nth-child(3) {
        grid-column: 1 / 4;

    }

    .board_item:nth-child(4) {
        grid-column: 1 / 4;

    }

    .board_item:nth-child(5) {
        grid-column: 1 / 4;
    }


    /* 상단 이름 */
    .board_name {
        font-weight: bold;
    }

    /* 하단 페이지네이션부터 버튼까지 */
    .board_bottom {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    /* 선택버튼 */
    .select_button {
        display: inline-block;
        
    }

    /* 검색버튼 */
    .board_submit_button {
        display: inline-block;
        
    }
    /* 검색바 */
    .form-group {
        display: inline-block;
    }

    /* 글쓰기 버튼 */
    .board_submit {
        display: block;
        padding-top: 50px;
        text-align: right;
    }

    /* footer */
    .panel-footer {
        display: absolute;
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        
    }
}

/* 그리드 끝 */
/* 768px이상 */
@media (min-width: 1300px) {

    /* 그리드 */

    .grid_container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .board_item:nth-child(1) {
        grid-column: 1 / 4;
    }

    .board_item:nth-child(2) {
        grid-column: 1 / 2;
    }

    .board_item:nth-child(3) {
        grid-column: 2 / 3;

    }

    .board_item:nth-child(4) {
        grid-column: 3 / 4;
    }

    .board_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 그리드 끝 */

    /* 상단이름 */
    .board_name {
        display: block;
        font-weight: bold;
        font-size: 25px;
        text-align: left;


    }

    /* 테이블 하단 */
    .board_bottom {
        width: 100%;
        text-align: center;

    }

    /* 선택버튼 */
    .select_button {
        display: inline;
        width: 100%;
        text-align: center;
    }


    /* 검색버튼 */
    .board_submit_button {
        display: inline;
        width: 100%;
        text-align: center;
    }

    /* 글쓰기버튼 */
    .board_submit {
        width: 100%;
        text-align: right;
    }

    /* 검색바 */
    .form-group {
        display: inline-block;
    }

    .panel-footer {
        margin-top: 150px;
        display: relative;
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        
    }

    
}

/* 게시판 끝 */


/* 랩노트 게시판*/


/* 768px 이하 */
@media (max-width: 1300px) {
    .grid_container {
        display: grid;
        grid-template-columns: 20% 80% 0%;
    }

    .lab_board_item:nth-child(1) {
        grid-column: 1 / 4;
    }

    .lab_board_item:nth-child(2) {
        grid-column: 1 / 4;
        display: none;
    }

    .lab_board_item:nth-child(3) {
        grid-column: 1 / 4;
        margin-top: 70px;

    }

    .lab_board_item:nth-child(4) {
        grid-column: 1 / 4;
    }

    .lab_board_item:nth-child(5) {
        grid-column: 1 / 4;
    }



}

/* 768이상 */
@media (min-width: 1300px) {
    .lab_grid_container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .lab_board_item:nth-child(1) {
        grid-column: 1 / 4;
    }

    .lab_board_item:nth-child(2) {
        grid-column: 1 / 2;
        padding-left: 10px;
    }

    .lab_board_item:nth-child(3) {
        grid-column: 2 / 3;

    }

    .lab_board_item:nth-child(4) {
        grid-column: 3 / 4;
    }

    .lab_board_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 왼쪽 사이드 */
    .lab_people {
        display: block;
        width: 70%;
        height: auto;
        min-height: 700px;
        margin-top: 100px;
        border-right: 5px solid rgb(206, 206, 206);


    }

    /* 왼쪽사이드 제목 */
    .people_title {
        width: 100%;
        font-size: 25px;
        font-weight: bold;
        display: inline-block;
        text-align: center;
    }

    /* 왼쪽 사이드 인원 중앙 */
    .lab_people_stack {
        display: block;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
    }

    /* 왼쪽 사이드 인원 색 마진 */
    .lab_people_user {
        color: black;
        margin-top: 10px;
    }

}



/* 랩노트 끝 */

/* 상세보기 */
/* 768px 이하 */

@media (max-width: 1300px) {
    .view_grid_container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
    }

    .view_grid_container {
        display: grid;
        grid-template-columns: 25px 1fr 25px;
    }

    .view:nth-child(1) {
        grid-column: 1 / 4;
    }

    .view:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;

    }

    .view:nth-child(3) {
        grid-column: 2 / 3;

    }

    .view:nth-child(4) {
        grid-column: 2 / 3;

    }

    .view:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 2 / 4;

    }

    .view:nth-child(6) {
        grid-column: 1 / 4;


    }


    /* 상세보기안 그리드 */

    .viewer_grid_container {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 80px 100px 100px 1fr;
    }

    /* 제목 */
    .viewer_item:nth-child(1) {
        grid-column: 1 / 5;
        font-weight: bold;
        width: 100%;
        height: 50px;
        padding-top: 6px;
        font-size: 30px;
        background-color: whitesmoke;
        border-bottom: 1px solid black;
    }

    /* 작성자 블록 */
    .viewer_item:nth-child(2) {
        grid-column: 1 / 2;
        height: 50px;
        font-size: 10px;
        padding-top: 15px;
    }

    /* 작성일 블록 */
    .viewer_item:nth-child(3) {
        grid-column: 2 / 3;
        height: 50px;
        font-size: 10px;
        padding-top: 15px;
        


    }

    /* 조회 블록 */
    .viewer_item:nth-child(4) {
        grid-column: 3 / 4;
        height: 50px;
        font-size: 10px;
        padding-top: 15px;
    }

    /* 내용 블록 */
    .viewer_item:nth-child(5) {
        grid-column: 1 / 5;
        margin-top: 30px;
        height: 500px;

    }

    /* 입력창 입력 */
    .viewer_item:nth-child(6) {
        grid-column: 1 / 5;
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgb(231, 229, 229);
    }

    /* 글수정 글삭제 버튼 */
    .viewer_item:nth-child(7) {
        grid-column: 1 / 5;
    }



    /* 그리드 끝 */

    /* 입력창 */
    .answer {
        resize: none;
        width: 100%;
        border: solid 1px rgb(162, 159, 159);
    }

    /* 입력버튼 */
    .answer_btn {
        display: block;
        float: right;
    }

    /* 글수정 글삭제 버튼 */
    .view_useful_btn {
        text-align: right;
    }

}

/* 768이상 */
@media (min-width: 1300px) {


    /* 그리드 */
    .view_grid_container {
        display: grid;
        grid-template-columns: 20% 1fr 20%;
    }

    .view:nth-child(1) {
        grid-column: 1 / 4;
    }

    .view:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;

    }

    .view:nth-child(3) {
        grid-column: 2 / 3;

    }

    .view:nth-child(4) {
        grid-column: 2 / 3;

    }

    .view:nth-child(5) {
        grid-column: 3 / 4;
        grid-row: 2 / 4;

    }

    .view:nth-child(6) {
        grid-column: 1 / 4;


    }


    /* 상세보기 안 그리드 */
    .viewer_grid_container {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 120px 150px 150px 1fr;
    }

    /* 제목 */
    .viewer_item:nth-child(1) {
        grid-column: 1 / 5;
        font-weight: bold;
        width: 100%;
        height: 50px;
        padding-top: 6px;
        font-size: 30px;
        background-color: whitesmoke;
        border-bottom: 1px solid black;
    }

    /* 작성자 */
    .viewer_item:nth-child(2) {
        grid-column: 1 / 2;
        height: 50px;
        font-size: 15px;
        padding-top: 15px;
    }

    /* 작성일 */
    .viewer_item:nth-child(3) {
        grid-column: 2 / 3;
        height: 50px;
        font-size: 15px;
        padding-top: 15px;

    }

    /* 조회 */
    .viewer_item:nth-child(4) {
        grid-column: 3 / 4;
        height: 50px;
        font-size: 15px;
        padding-top: 15px;
    }

    /* 내용 */
    .viewer_item:nth-child(5) {
        grid-column: 1 / 5;
        margin-top: 30px;
        height: 500px;
        padding: 8px;
        border-top: 1px solid rgb(199, 198, 198);
        border-bottom: 1px solid rgb(199, 198, 198);
    }

    /* 댓글입력창 */
    .viewer_item:nth-child(6) {
        grid-column: 1 / 5;
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 50px;
        background-color: rgb(231, 229, 229);
    }

    /* 글수정 글삭제 */
    .viewer_item:nth-child(7) {
        grid-column: 1 / 5;
    }

    /* 그리드 끝 */


    /* 입력창 */
    .answer {
        resize: none;
        width: 100%;
        border: solid 1px rgb(162, 159, 159);
    }

    /* 입력버튼 */
    .answer_btn {
        display: block;
        float: right;
    }

    /* 글수정 글삭제 */
    .view_useful_btn {
        text-align: right;
    }
}


/* 상세보기 끝 */


/* 처음로그인 페이지 */
@media (max-width: 1300px) {

    .first_login_grid_container {
        display: grid;
        grid-template-columns: 1fr 400px 1fr;
    }

    .first_login_item:nth-child(1) {
        grid-column: 1 / 4;
        height: 120px;
    
    }

    .first_login_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .first_login_item:nth-child(3) {
        grid-column: 2 / 3;
    }

    .first_login_item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    .first_login_item:nth-child(5) {
        grid-column: 1 / 4;
    }


     /* 로그인 전체 박스 */
     .first_login_box {
        background-color: #8a8686;
        height: 600px;
        padding-top: 30px;
        box-shadow: 8px 8px 8px 8px;
        border-radius: 70px;
    }

    /* 박스 안 로고 */
    .first_login_mark {
        display: block;
        text-align: center;
    }

    /* 아이디 비번 체크박스 로그인버튼 묶는 박스 */
    .first_login_body {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* 로그인 버튼 밑 정보  */
    .first_login_ex {
        font-size: 5em;
        text-align: center;
        padding-top: 70px;
        color: white;
        font-size: 15px;
    }

    /* 푸터 */
    .first_login_footer {
        bottom: 0;
        width: 100%;
        background-color: #f8f8f8;
        padding: 10px;
    }




}


@media (min-width: 1300px) {

    /* 그리드 시작 */

    .first_login_grid_container {
        display: grid;
        grid-template-columns: 1fr 400px 1fr;
    }

    .first_login_item:nth-child(1) {
        grid-column: 1 / 4;
        height: 120px;
    
    }

    .first_login_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .first_login_item:nth-child(3) {
        grid-column: 2 / 3;
    }

    .first_login_item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    .first_login_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 로그인 전체 박스 */
    .first_login_box {
        background-color: #8a8686;
        height: 600px;
        padding-top: 30px;
        box-shadow: 8px 8px 8px 8px;
        border-radius: 70px;
    }

    /* 박스 안 로고 */
    .first_login_mark {
        display: block;
        text-align: center;
    }

    /* 아이디 비번 체크박스 로그인버튼 묶는 박스 */
    .first_login_body {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* 로그인 버튼 밑 정보  */
    .first_login_ex {
        text-align: center;
        padding-top: 70px;
        color: white;
        font-size: 15px;
    }

    /* 푸터 */
    .first_login_footer {
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #f8f8f8;
        padding: 10px;
    }


}

/* 회원가입 */

@media (max-width: 1300px) {

    /* 그리드 시작 */
    .sign_grid_container {
        display: grid;
        grid-template-columns: 25% 1fr 25%;
    }

    .sign_item:nth-child(1) {
        grid-column: 1 / 4;

    }

    .sign_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .sign_item:nth-child(3) {
        grid-column: 2 / 3;
    }

    .sign_item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    .sign_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 그리드 끝 */

    /* 회원가입 글자 */
    .sign_title {
        display: block;
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        margin-bottom: -20px;

    }

    /* 필수입력란 옆 이모티콘  */
    .sign_alert {
        display: block;
        text-align: right;
        color: red;
    }

    /* 아이디 부터 학부생 폼으로 묶음 */
    .sign_form {
        display: block;
    }

    .sign_id_form,
    .sign_name_form,
    .sign_number_form,
    .sign_email_form,
    .sign_pw_form,
    .sign_re_pw_form,
    .sign_lab_number_form{
        width: 100%;
        float: center;
        
    }

    /* 선택 상자 묶은 박스 */
    .sign_select {
        
        text-align: left;

    }

    /* 선택상자 */
    .sign_select {
        display: inline-block;
        margin-bottom: 10px;
      }
      
      .sign_select_title {
        font-weight: bold;
      }
      
      .sign_selct_box {
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        
        border: 1px solid #ccc;
        width: 210px;
        text-align: center;
      }

    /* 가입버튼 */
    .sign_button {
        float: right;

    }

    /* 푸터 */
    .sign_footer {
        height: 30px;
        margin-top: 20px;
    }


}


@media (min-width: 1300px) {

   
    /* 그리드 시작 */
    .sign_grid_container {
        display: grid;
        grid-template-columns: 25% 1fr 25%;
    }

    .sign_item:nth-child(1) {
        grid-column: 1 / 4;

    }

    .sign_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .sign_item:nth-child(3) {
        grid-column: 2 / 3;
    }

    .sign_item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    .sign_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 그리드 끝 */

    /* 회원가입 글자 */
    
    .sign_title {
        display: block;
        font-weight: bold;
        font-size: 30px;
        text-align: left;
        margin-bottom: -20px;

    }

    /* 필수입력란 옆 이모티콘  */
    .sign_alert {
        display: block;
        text-align: right;
        color: red;
    }

    /* 아이디 부터 학부생 폼으로 묶음 */
    .sign_form {
        display: block;
    }

    .sign_id_form,
    .sign_name_form,
    .sign_number_form,
    .sign_email_form,
    .sign_pw_form,
    .sign_re_pw_form,
    .sign_lab_number_form{
        width: 100%;
        float: center;
        
    }

    /* 선택 상자 묶은 박스 */
    .sign_select {
        
        text-align: left;

    }

    /* 선택상자 */
    .sign_select {
      display: inline-block;
      margin-bottom: 10px;
    }
    
    .sign_select_title {
      font-weight: bold;
    }
    
    .sign_selct_box {
      padding: 8px;
      border: 1px solid #ccc;
      width: 200px;
      text-align: center;
    }
    
    

    /* 가입버튼 */
    .sign_button {
        float: right;

    }

    /* 푸터 */
    .sign_footer {
        height: 30px;
        margin-top: 20px;
    }


}

/* 글쓰기 */


@media (max-width: 1300px) {

    /* 그리드 */
    .write_grid_container {
        display: grid;
        grid-template-columns: 30% 1fr 30%;
    }

    .write_item:nth-child(1) {
        grid-column: 1 / 4;

    }

    .write_item:nth-child(2) {
        grid-column: 1 / 4;

    }

    .write_item:nth-child(3) {
        grid-column: 1 / 4;
        padding-left: 50px;
        padding-right: 50px;
    }

    .write_item:nth-child(4) {
        grid-column: 1 / 4;
    
    }

    .write_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 텍스트 입력 박스 */
    .title_writle_form {
        display: block;
        margin-top: 25px;
    }

    /* 텍스트 박스 */
    .write_input {
        width: 100%;
        font-size: 18px;
        resize: none;
        padding: 3px;
    }

    /* 첨부파일 박스 */
    .write_add_file_box {
        display: inline-block;
        text-align: top;
        font-size: 16px;

    }

    /* 글쓰기 버튼 */
    .write_write_btn {
        display: block;
        float: right;
        margin-top: 200px;
    }

    /* 푸터 */
    .write_footer {
        margin-top: 230px;
    }
}

@media (min-width: 1300px) {

    .write_grid_container {
        display: grid;
        grid-template-columns: 30% 1fr 30%;
    }

    .write_item:nth-child(1) {
        grid-column: 1 / 4;

    }

    .write_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 5;
    }

    .write_item:nth-child(3) {
        grid-column: 2 / 3;
    }

    .write_item:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 5;
    }

    .write_item:nth-child(5) {
        grid-column: 1 / 4;
    }

    /* 글쓰기 글씨 */
    .write_title {
        display: block;
        font-weight: bold;
        font-size: 30px;
        text-align: left;

    }

    /* 텍스트 입력 박스 */
    .title_writle_form {
        display: block;
        margin-top: 25px;
    }

    /* 텍스트 박스 */
    .write_input {
        width: 100%;
        font-size: 18px;
        resize: none;
        padding: 3px;
    }

    /* 첨부파일 박스 */
    .write_add_file_box {
        display: inline-block;
        text-align: top;
        font-size: 16px;

    }

    /* 글쓰기 버튼 */
    .write_write_btn {
        display: block;
        float: right;
        margin-top: 200px;
    }

    /* 푸터 */

}



/* 사진게시판 */

@media (max-width: 1300px) {
    .picture_item {
        display: block;
        text-align: center;
    }

}

@media (min-width: 1300px) {
    .picture_conatainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .picture_item:nth-child(1) {
        grid-column: 1 / 2;

    }

    .picture_item:nth-child(2) {
        grid-column: 2 / 3;

    }

    /* 그림 */
    .picture_item {
        margin: 10px;
        display: inline-block;
        text-align: center;
    }


}


/* 검색결과 */

@media (max-width: 1300px) {
    .search_grid_container {
        display: grid;
        grid-template-columns: 25px 1fr 25px;
    }

    .search_item:nth-child(1) {
        grid-column: 1 / 4;

    }

    .search_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 9;

    }

    .search_item:nth-child(3) {
        grid-column: 2 / 3;

    }

    .search_item:nth-child(4) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(5) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(6) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(7) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(8) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(9) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(10) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(11) {
        grid-column: 3 / 4;
        grid-row: 2 / 9;


    }

    .search_item:nth-child(12) {
        grid-column: 1 / 4;


    }
}
@media (min-width: 1300px) {
    .search_grid_container {
        display: grid;
        grid-template-columns: 20% 60% 20%
    }

    .search_item:nth-child(1) {
        grid-column: 1 / 4;

    }

    .search_item:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 9;

    }

    .search_item:nth-child(3) {
        grid-column: 2 / 3;

    }

    .search_item:nth-child(4) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(5) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(6) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(7) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(8) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(9) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(10) {
        grid-column: 2 / 3;


    }

    .search_item:nth-child(11) {
        grid-column: 3 / 4;
        grid-row: 2 / 9;


    }

    .search_item:nth-child(12) {
        grid-column: 1 / 4;


    }
}